* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  /* font-size: 80%; */
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #3C3C48;
}

.container {
  width: min(90vw, 120rem);
  text-align: center;
}

/* Title */
.main-title {
  font: 2.8rem 'Nunito', sans-serif;
  color: #e2e2e2;
  padding: 3.0rem 0;
}

/* Days */
.container-days {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 10.6rem;
}

.content + .content {
  margin-left: 2.5rem;
}

.content .info {
  display: flex;
  justify-content: space-between;
}

.content .info h1 {
  font: 1.4rem 'Nunito', sans-serif;
  color: #636363;
}

.content .info h2 {
  font: 1.6rem 'Nunito', sans-serif;
  color: #F2F2F2;
}

.content .time-container {
  display: flex;
}

.time-container + .time-container {
  margin-top: 1.0rem;
}

.content .time-container .add-btn {
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
  transition: .2s;
}

.content .time-container .add-btn[data-active="_true"] {
  background: url('../image/remove-icon.svg') no-repeat #17171A center;
}
.content .time-container .add-btn[data-active="_false"] {
  background: url('../image/add-icon.svg') no-repeat #17171A center;
}

.content .time-container .add-btn:active {
  background-color: #000;
}

.content .time-container .time-visor {
  width: 8rem;
  height: 2.5rem;

  font: 1.8rem 'Nunito', sans-serif;
  color: #F2F2F2;
  text-align: center;

  margin-left: 1px;
  border-radius: 0 5px 5px 0;
  background:  #17171A;
}

/* User Actions */
.user-actions {
  width: 10.5rem;

  margin: 4.0rem auto 0 auto;
  border-radius: 15px;
  background-color: #17171A;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-actions button {
  border: none;
  background: none;
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.4rem;
}

.user-actions .refresh-icon {
  background: url('../image/icon-refresh.svg') no-repeat center center;
  background-size: 100%;
  transition: .1s;
  outline: none; 
}

.user-actions .refresh-icon:active, .user-actions .push-pin-icon:active {
  background-size: 80%;
}

.user-actions .push-pin-icon {
  background: url('../image/icon-push-pin.svg') no-repeat center center;
  background-size: 100%;
  transition: .1s;
  outline: none; 
}

.user-actions .divisor {
  display: inline-block;
  background-color: #e2e2e2;
  width: 0.1rem;
  height: 1.1rem;
  margin: 0 1.3rem;
}

/* Media */
@media (max-width: 800px){
  .container-days {
    flex-direction: column;
  }

  .content + .content {
    margin-top: 2.5rem;
    margin-left: 0rem;
  }

  .user-actions {
    margin: 4.0rem auto 4.0rem auto;
  }
}
